@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 4vmax;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery{
    width:140vmax; 
    height:140vmax;
    position: absolute;
    transition: transform 400ms ease;
}

.tile{
    position: absolute;
    border-radius: 1vmax;
    transition: transform 800ms ease;
}

.tile:hover{
    transform: scale(1.1);
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile > img{
    height: 100%;
    width: 100%;
    object-fit: cover; /* cover the whole tile with the image */
    border-radius: inherit; /* inherit the border-radius from the parent */
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
    cursor: pointer;
}

/* Randomly position the tiles */
.tile:nth-child(1){
    width: 20%;
    height: 14%;
    background-color: #03012C;
    top: 8%;
    left: 5%;
}

.tile:nth-child(2){
    width: 13%;
    height: 21%;
    background-color: #D3BCC0;
    top: 33%;
    left: 66%;
}

.tile:nth-child(3){
    width: 15%;
    height: 20%;
    background-color: #FC5130;
    top: 29%;
    left: 8%;
}

.tile:nth-child(4){
    width: 18%;
    height: 27%;
    background-color: #FF858D;
    top: 48%;
    left: 34%;
}

.tile:nth-child(5){
    width: 23%;
    height: 14%;
    background-color: #432E36;
    top: 7%;
    left: 74%;
}

.tile:nth-child(6){
    width: 22%;
    height: 14%;
    background-color: rgb(125, 104, 158);
    top: 9%;
    left: 43%;
}

.tile:nth-child(7){
    width: 10%;
    height: 10%;
    background-color: #7EE081;
    top: 0;
    left: 29%;
}

.tile:nth-child(8){
    width: 19%;
    height: 18%;
    background-color: #462255;
    top: 26%;
    left: 30%;
}


.source{
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.source:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(2, 0, 0, 0.2);
}

a{
    color: black;
    text-decoration: none;
}


/* if data attribute is false */
.tile[data-show="false"] {
    transform: scale(0) !important;
}

.tile[data-show="false"] > img{
    opacity: 1;
}
/* animation to zoom in all elements */
.tile[data-show="true"] {
    animation: zoomIn 20ms ease !important;
}

zoomIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tile[data-hide="true"] {
    animation: zoomOut 800ms ease !important;
}

.tile[data-hide="true"] > img{
    opacity: 0;
}

zoomOut {
    0% {
        transform: scale(1);
        transform: translateX(0);

    }
    50% {
        transform: scale(0.4);
        transform: translateX(10px);

    }
    100% {
        transform: scale(0);
        transform: translateX(0);
    }
}